{% extends "vpnSale/layout.html" %}

{% block topTitle %}
    Sign up
{% endblock %}


{% block bodyblock %}

<!-- <div class="col-md-4"></div>
<div class="col-md-4" style="background-color: #b4ca52; border-radius: 20px; margin-bottom: 30px;">
    <form action="" method="post">
        {% csrf_token %}
        <img src="../../static/accounts/images/user-icon.png" alt="door-logo" style="width: 200px; display: block; margin-left: auto; margin-right: auto; margin-top: 40px;">
        <h1 style="margin: 20px 0; text-align: center;">Create an account</h1>
        <h6 style="margin: 20px 0; text-align: center;">Already have an account?<a href="/accounts/login" style="text-decoration: none;">Log in</a></h6>
        <p style="color: red; text-align: center;">{{ username }} : {{ errorMessage }}</p>
        <input type="text" name="username" id="username" placeholder="Username please" class="form-control" style="margin-top: 20px; ">
        <input type="email" name="email" id="email" placeholder="Email please" class="form-control" style="margin-top: 20px; ">
        <input type="password" name="password" id="password" placeholder="Password please" class="form-control" style="margin: 20px 0;">
        <div class="d-grid" style="margin: 30px 0;">
            <input type="submit" value="Sign up" class="btn btn-primary">
        </div>

        
    </form>
</div>
<div class="col-md-4"></div> -->


    <div class="col-md-4"></div>
    <div class="col-md-4" style="background-color: #b4ca52; border-radius: 20px; margin-bottom: 30px;">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <img src="../../static/accounts/images/user-icon.png" alt="door-logo" style="width: 200px; display: block; margin-left: auto; margin-right: auto; margin-top: 40px;">
            <h1 style="margin: 20px 0; text-align: center;">Create an account</h1>
            <h6 style="margin: 20px 0; text-align: center;">Already have an account?<a href="/accounts/login" style="text-decoration: none;">Log in</a></h6>
            <p style="color: red; text-align: center;">{{ error_message }}</p>
            <div class="row">
                <div class="col-md-6">
                    <div class="signup-label">
                        <label for="" class="form-label">Name:</label>
                        {{ formData.first_name }}
                    </div>
                    <div class="signup-label">
                        <label for="" class="form-label">Last name:</label>
                        {{ formData.last_name }}
                    </div>
                    <div class="signup-label">
                        <label for="" class="form-label">Gender: </label>
                        {{ formData.Gender }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="signup-label">
                        <label for="" class="form-label">Email: </label>
                        {{ formData.email }}
                    </div>
                    <div class="signup-label">
                        <label for="" class="form-label">Username: </label>
                        {{ formData.username }}
                    </div>
                    <div class="signup-label">
                        <label for="" class="form-label">Password: </label>
                        {{ formData.password }}
                    </div>
                </div>
                <div class="signup-label">
                <label for="" class="form-label">Profile image:</label>
                {{ formData.ProfileImage }}
                </div>
                <div class="d-grid" style="margin: 30px 0;">
                    <input type="submit" value="Sign up" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>

{% endblock %}