{% extends "vpnSale/layout.html" %}

{% block topTitle %}
    How to use v2ray
{% endblock %}

{% block titlePage %}

{% endblock %}

{% block bodyblock %}

<section class="first_section_howToUse">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div class="top_text_v2ray">
                <h1 id="first_line">How to use v2ray vpn?</h1><br>
                <p class="lead">To use VPN, just copy your config link and add it to the application.</p>
                <p class="lead">If you have never used these softwares and you are not familiar with how to add configuration, watch the following videos to do it easily just with a few steps.</p>
            </div>
        </div>
    </div>
</section>

<section  class="secound_section_howToUse">
    <div class="container">
        <div id="use_videos" class="row">
            <div class="col-md-6">
                <div  class="card" style="width: 98%;">
                    <iframe  src="https://www.youtube.com/embed/wHev33JXyPA?si=q3J4uCMM7ETClj_x" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="card-body">
                    <h6 class="card-title">On android</h6>
                    <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 98%;">
                    <iframe  src="https://www.youtube.com/embed/wHev33JXyPA?si=q3J4uCMM7ETClj_x" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="card-body">
                    <h6 class="card-title">On android</h6>
                    <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 98%;">
                    <iframe  src="https://www.youtube.com/embed/wHev33JXyPA?si=q3J4uCMM7ETClj_x" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="card-body">
                    <h6 class="card-title">On android</h6>
                    <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}